$white: #fff;
$whiteGrayed: #fcfcfc;
$whiteDisabled: #b5b5b5;
$whiteMiddleGray: #cccccc;
$boxShadowGray: rgba(35, 35, 35, .16);
$transparentGray: rgba(58, 57, 57, 0.8);
$blue: #4072ea;
$lightBlue: #428cfb;
$darkBlue: #4162fb;
$black: #333333;
$buttonBlueDisabled: rgba(255, 255, 255, 0.15);
$red: #ff0000;
$darkRed: #990033;
$darkRedHover: rgb(185, 0, 0);
$darkRedDisabled: #a73d60;
$lightGreen: #2dbb2d;
$orange: #db850c;
$orangeHover: #dd9a3b;
$orangeDisabled: #eba23c;
